<div *ngIf="tableColumns && !tableColumns.length">
    <mat-spinner [diameter]="100"></mat-spinner>
</div>
<div class="d-flex">
    <div class="fw-bold" title="{{ 'general.captions.' + tableId | translate }}">{{ 'general.captions.' + tableId | translate }}</div>
    <mat-icon (click)="onAdd()" title="{{ 'general.hovers.add' | translate }}" *ngIf="displayActionsContains('add')">
        add_circle_outline
    </mat-icon>
    <mat-icon (click)="openFilterColumns()" title="{{ 'general.hovers.arrange-columns' | translate }}"
        *ngIf="displayActionsContains('filter')">filter_list</mat-icon>
    <app-csv-download *ngIf="displayActionsContains('download') && objectList && objectList.length" [title]="translate.instant('general.labels.' + tableId)" 
        [iconTitle]="translate.instant('general.hovers.download-csv')" [items]="objectList">
    </app-csv-download>
    <mat-icon (click)="dragDrop.emit(objectList)" title="{{ 'general.hovers.sort' | translate }}" *ngIf="displayActionsContains('sort')"
        [ngStyle]="{ 'display': !copyObjectList.length ? 'none' : '' }">
        sort
    </mat-icon>
    <mat-icon (click)="cancelSort()" title="{{ 'general.hovers.cancel-sort' | translate }}" *ngIf="displayActionsContains('cancel-sort')"
        [ngStyle]="{ 'display': !copyObjectList.length ? 'none' : '' }">
        backspace
    </mat-icon>
</div>
<div class="mat-elevation-z8" *ngIf="tableColumns && tableColumns.length">
    <mat-table [dataSource]="dataSource" matSort cdkDropList [cdkDropListData]="dataSource" 
        (cdkDropListDropped)="dropTable($event)" [cdkDropListDisabled]="!displayActionsContains('sort')">
        <ng-container *ngFor="let col of tableColumns; let index as i" matColumnDef="{{ col.colId }}">
            <mat-header-cell mat-sort-header *matHeaderCellDef [ngClass]="col.colClass"
                title="{{ getColumnTitle(col) }}">
                {{ getColumnName(col) }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [ngClass]="col.colClass">
                <ng-container [ngSwitch]="col.colType">
                    <div *ngSwitchCase="'custom'">
                        <ng-template [ngTemplateOutlet]="additionalHtml"
                            [ngTemplateOutletContext]="{ item: getItemForAdditionalHtml(col, row)}">
                        </ng-template>
                    </div>
                    <div *ngSwitchDefault title="{{ row[col.colId] }}">
                        {{ row[col.colId] }}
                    </div>
                </ng-container>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div class="container d-flex">
                    <mat-icon *ngIf="displayActionsContains('save')" (click)="onEdit(row)" title="{{ 'general.buttons.edit' | translate }}">create</mat-icon>
                    <ng-template [ngTemplateOutlet]="additionalActions"
                        [ngTemplateOutletContext]="{ item: getTableItemAction(row) }">
                    </ng-template>
                    <mat-icon *ngIf="displayActionsContains('delete')" (click)="onDelete(row)" title="{{ 'general.buttons.delete' | translate }}">delete_forever</mat-icon>
                </div>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: visibleColumns" cdkDrag [cdkDragData]="row"
            [cdkDragDisabled]="!displayActionsContains('sort')"></mat-row>
    </mat-table>
    <div *ngIf="isProcessing">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <div *ngIf="!isProcessing && (!objectList || objectList.length === 0)">
        {{ 'general.messages.no-records-found' | translate }}
    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [length]="objectList.length"
        showFirstLastButtons>
    </mat-paginator>
</div>